<ion-header>


  <ion-row class="titulo">
    <ion-col size="12" class="titulo">
      <img src="assets/icon/Finan.png">
    </ion-col>
  </ion-row>
  </ion-header>
  

    <ion-content>
      <ion-grid>
      <ion-row>
        <ion-col class="inicio">
        ESCOLHA UMA OPÇÃO
      </ion-col>
      </ion-row>
    
    
  <ion-row>
    <ion-col size="12" class="botao">
    <ion-button expand="full" color="tertiary">CADASTRO CLIENTE</ion-button>
  </ion-col>
  
  </ion-row>

  <ion-row>
   
    <ion-col size="12" class="botao">
    <ion-button expand="full" color="tertiary">CADASTRO TIPO RECEITA</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
   
    <ion-col size="12" class="botao">
    <ion-button expand="full" color="tertiary">LANÇAMENTO RECEITA</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
   
    <ion-col size="12" class="botao">
    <ion-button expand="full" color="tertiary">TÍTULOS A RECEBER</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
   
    <ion-col size="12" class="botao">
    <ion-button expand="full" color="tertiary">RELATÓRIOS</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>

       <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">VOLTAR</ion-button>
  </ion-col>
  </ion-row>



</ion-grid>
  
  </ion-content>

  <ion-footer class="tela"> </ion-footer>