<ion-header>

  <ion-row>
  <ion-col class="botao">
    <ion-button expand="full" class="botao">
      <ion-icon slot="start" name="add-outline"></ion-icon>INCLUIR</ion-button>
  </ion-col>
  <ion-col class="botao">
    <ion-button expand="full" class="botao">
      <ion-icon slot="start" name="pencil-outline"></ion-icon>ALTERAR</ion-button>
  </ion-col>
  <ion-col class="botao">
    <ion-button expand="full" class="botao">
      <ion-icon slot="start" name="trash-outline"></ion-icon>EXCLUIR</ion-button>
  </ion-col>
  <ion-col class="botao">
    <ion-button expand="full" class="botao">
      <ion-icon slot="start" name="list-outline"></ion-icon>LISTAR</ion-button>
  </ion-col>
</ion-row>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="espaco-vazio">
    </ion-col>
  </ion-row>
  
  <ion-content>
    <ion-row>
      <ion-col class="cadastro">
      BAIXAR TÍTULOS A RECEBER
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12" class="danger">
        Nº DO TÍTULO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12" class="danger">
        CNPJ/CPF
        <ion-input class="campo"> </ion-input>
       </ion-col>
    </ion-row> 
  
      <ion-row>
        <ion-col size="12" class="danger">
          NOME DO CLIENTE
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>    
      
      <ion-row>
        <ion-col size="12" class="danger">
          MEIO DE RECEBIMENTO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12" class="danger">
          DATA DO RECEBIMENTO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>    
  
      <ion-row>
        <ion-col size="12" class="danger">
          FORMA DE RECEBIMENTO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>  
  
      <ion-row>
        <ion-col size="12" class="danger">
          VALOR RECEBIDO
          <ion-input class="campo"> </ion-input>
        </ion-col>
  
      </ion-row>   
       
      <ion-row>
        <ion-col size="12" class="danger">
          DATA DE RECEBIMENTO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>  
  
      <ion-row>
        <ion-col size="12" class="danger">
          JUROS
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>  
  
      <ion-row>
        <ion-col size="12" class="danger">
          DESCONTO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row> 
  
       <ion-row>
        <ion-col size="12" class="danger">
          VALOR A RECEBER
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row>
  
       <ion-row>
        <ion-col size="12" class="danger">
          OBSERVAÇÃO
          <ion-input class="campo"> </ion-input>
        </ion-col>
      </ion-row> 

      <ion-row>
        <ion-col class="botao">
          <ion-button expand="full" class="botao">
            <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
            VOLTAR
          </ion-button>
        </ion-col>
        <ion-col class="botao">
          <ion-button expand="full" class="botao">
            <ion-icon slot="start" name="save-outline"></ion-icon>
             GRAVAR
          </ion-button>
        </ion-col>
      </ion-row>
  
  </ion-content>