<ion-header>


 
  <ion-row>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">INCLUIR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">ALTERAR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">EXCLUIR</ion-button>
  </ion-col>
  <ion-col size="3" class="botao">
    <ion-button expand="full" color="tertiary">LISTAR</ion-button>
  </ion-col>



</ion-row>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="cadastro">
    BAIXAR TÍTULOS A RECEBER
  </ion-col>
  </ion-row>

  
    
  <ion-row>
      <ion-col size="3" class="danger">
        Nº DO TÍTULO
        <ion-input class="campo"> </ion-input>
      </ion-col>

      <ion-col size="9" class="danger">
        CNPJ/CPF
        <ion-input class="campo"> </ion-input>
       </ion-col>

    </ion-row>

   
    <ion-row>
      <ion-col size="12" class="danger">
        NOME DO CLIENTE
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        MEIO DE RECEBIMENTO
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>   
    
  

      <ion-row>
      <ion-col size="5" class="danger">
        DATA DO RECEBIMENTO
        <ion-input class="campo"> </ion-input>
      </ion-col>

      <ion-col size="7" class="danger">
        FORMA DE RECEBIMENTO
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>   
     
    <ion-row>
      <ion-col size="5" class="danger">
        VALOR RECEBIDO
        <ion-input class="campo"> </ion-input>
      </ion-col>
      <ion-col size="7" class="danger">
        DATA DE RECEBIMENTO
        <ion-input class="campo"> </ion-input>
      </ion-col>

    </ion-row>  

    <ion-row>
      <ion-col size="6" class="danger">
        JUROS
        <ion-input class="campo"> </ion-input>
      </ion-col>
      <ion-col size="6" class="danger">
        DESCONTO
        <ion-input class="campo"> </ion-input>
      </ion-col>
      
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        VALOR A RECEBER
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        OBSERVACÃO
        <ion-input class="campo"> </ion-input>
      </ion-col>
      
    </ion-row>  


    

    <ion-row>
      <ion-col size="6" class="botao">
      <ion-button expand="full" color="tertiary">GRAVAR</ion-button>
    </ion-col>
         <ion-col size="6" class="botao">
      <ion-button expand="full" color="tertiary">VOLTAR</ion-button>
    </ion-col>
    </ion-row>
  
  </ion-content>