<ion-header>
  <ion-toolbar>
    <ion-title> LISTA DE USUÁRIOS </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-row>

    <ion-col class="botao">
      <ion-button expand="full" class="botao">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>Editar</ion-button>
    </ion-col>

    <ion-col size="4" class="lista">
      <ion-button color="danger" (click)="deleteById(4)"> DELETAR </ion-button>
    </ion-col>

    <ion-col size="4">
      <ion-button expand="full" class="botao" routerLink="/usuario">  
        <ion-icon slot="start" name="add-outline"></ion-icon>INCLUIR</ion-button>
    </ion-col>

    <ion-col size="">
      <ion-button expand="full" class="botao" (click)="navegarParaInicio()">  
        <ion-icon slot="start"></ion-icon>Voltar</ion-button>
    </ion-col>


  </ion-row>

  
    <ion-row class="listagem" *ngFor="let usuario of usuarios">
      <ion-col size="12" class="listagem">
        <ion-row>
          <ion-col size="6">
            {{ usuario.nome }}
          </ion-col>
          <ion-col size="3">
            <ion-button color="danger" expand="full" class="botao" (click)="deleteById(usuario.codUsuario)">  
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="primary" expand="full" class="botao">  
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> 
      </ion-col>
    </ion-row>
 
  
</ion-content>