.lista {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    text-indent: 0em;
    color: #080808;
     
    width: 20%;
  }

  .listagem {
    
    
    color: #080808;
    
  }

  .botao{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    max-width: 100%; 
    margin: 0 auto;
    width: 80%;
  }

  .seleciona{
    background-color: #dc1d1d;
  }