<ion-content>

  <ion-header>
  <ion-row class="titulo">
    <ion-col size="12" class="titulo">
      <img src="assets/icon/Finan.png">
    </ion-col>
  </ion-row>
  </ion-header>

  <ion-row>
    <ion-col class="espaco-vazio">
    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>


  
  <ion-row>
   <ion-col size="12" class="danger_login_senha">
    LOGIN
   </ion-col>
  </ion-row>
  
  <ion-row class="danger">
    <ion-input class="campo"> </ion-input>
  </ion-row>
  
  <ion-row>
    <ion-col size="6" offset="3" class="danger_login_senha">
     SENHA
    </ion-col>
  </ion-row>
  
  <ion-row class="danger">
    <ion-input class="campo" type="password"> </ion-input>
    </ion-row>

    <ion-row>
      <ion-col class="espaco-vazio">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col class="botao" size="6" offset="3">
    <ion-button expand="full" class="botao">ENTRAR</ion-button>
  </ion-col>
  </ion-row>
   
  <ion-row>
    <ion-col class="botao" size="6" offset="3">
    <ion-button expand="full" class="botao">CADASTRO DE USUARIO</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espaco-vazio">
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  
  </ion-content>