<ion-header>
 
  <ion-row>
    <ion-col class="botao">
      <ion-button expand="full" class="botao">
        <ion-icon slot="start" name="add-outline"></ion-icon>INCLUIR</ion-button>
    </ion-col>
    <ion-col class="botao">
      <ion-button expand="full" class="botao">
        <ion-icon slot="start" name="pencil-outline"></ion-icon>ALTERAR</ion-button>
    </ion-col>
    <ion-col class="botao">
      <ion-button expand="full" class="botao">
        <ion-icon slot="start" name="trash-outline"></ion-icon>EXCLUIR</ion-button>
    </ion-col>
    <ion-col class="botao">
      <ion-button expand="full" class="botao">
        <ion-icon slot="start" name="list-outline"></ion-icon>LISTAR</ion-button>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="cadastro">
    CADASTRO DE FORNECEDOR
  </ion-col>

  </ion-row>

    <ion-row>
      <ion-col size="12" class="danger">
        ID FORNECEDOR
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        NOME FORNECEDOR
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        CNPJ/CPF
        <ion-input class="campo"> </ion-input>
      </ion-col>

      
    </ion-row>    
    
    <ion-row>
      <ion-col size="12" class="danger">
        ENDEREÇO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>    
    
    <ion-row>
      <ion-col size="12" class="danger">
        TELEFONE
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        CONTATO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        REGIME TRIBUTÁRIO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        DATA NASCIMENTO / FUNDAÇÃO
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        REFERENCIA COMERCIAL
        <ion-input class="campo"> </ion-input>
      </ion-col>

      
    </ion-row>  

    <ion-row>
      <ion-col size="12" class="danger">
        OBSERVACOES
        <ion-input class="campo"> </ion-input>
      </ion-col>
    </ion-row>  

    

    <ion-row>
      <ion-col class="botao">
        <ion-button expand="full" class="botao">
          <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
          VOLTAR
        </ion-button>
      </ion-col>
      <ion-col class="botao">
        <ion-button expand="full" class="botao">
          <ion-icon slot="start" name="save-outline"></ion-icon>
           GRAVAR
        </ion-button>
      </ion-col>
</ion-row>
  
  </ion-content>